/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Roboto', serif;
  margin: 0;
  color: #293c4b;
}

header {
  text-align: center;
  padding-top: 10px;
}

.page-wrapper {
  text-align: center;
}

.new-player-form {
  text-align: center;
}

div.join-or-create button {
  margin: 0px 10px 10px 10px;
}

div.player-game-list table {
  text-align: center;
}

.lobby-info {
  margin-top: 15px;
  text-align: left;
}

td.join-btn {
  text-align: right;
}

tr.game-list-row:hover button {
  visibility: visible;
}

button.game-list-join {
  margin: 0;
  visibility: hidden;
  display: table-cell;
  height: 23px;
  line-height: 0;
  margin-left: auto;
}

button.back-button {
  text-align: left;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}
